@font-face {
  font-family: "Archivo Black";
  src: url("./ArchivoBlack-Regular.ttf");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./RobotoSlab.ttf");
}

@font-face {
  font-family: "VCR OSD MONO";
  src: url("./VCR_OSD_MONO.ttf");
}