.buttonRow {
  display: flex;
  gap: 30px;
  will-change: opacity;
  animation: fade-in 3s forwards ease;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.logoButton {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.logoButton:hover {
  background: #33333327;
}

.logoButton > img {
  width: 70px;
}
