.buttonRow {
  display: flex;
  gap: 30px;
  will-change: opacity;
}

.logoButton {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.logoButton:hover {
  background: #c7c7c727;
}

.logoButton > img {
  width: 70px;
}
