.start {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  margin: 5px;
  background: #c3c3c3;
  border: 3px solid;
  font-size: 1.2em;
  border-color: white #414141 #414141 white;
}

.start:active {
  border-color: #414141 white white #414141;
}