.previewButton {
  padding: 15px 30px;
  border: 4px solid;
  border-color: #e9e9e9 #969696 #969696 #e9e9e9;
  background: #c7c7c7;
  cursor: pointer;
  font-size: 0.9em;
  margin-bottom: 45px;
}

.previewButton:hover {
  background: #dadada;
}

.previewButton:active {
  border-color: #969696 #e9e9e9 #e9e9e9 #969696;
}
